ul.attachments_list {
  list-style: none;
}

.attachments_header {
  display: flex;
  align-items: center;
}

.attachments_header i {
  display: flex;
  width: 18px;
  height: 18px;
}

.attachments_anchor {
  display: flex;
  align-items: center;
}

.icon-file-attachments {
  display: flex;
  align-items: cener;
  width: 18px;
  height: 18px;
}
